<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Healthy Hearts</title>
	<link href="css/health.css" rel="stylesheet" type="text/css">
	<link rel="icon" href="https://cdn2.iconfinder.com/data/icons/neutro-medical/32/heartbeat-512.png" type="image/jpg" sizes="16x16">
</head>

<body>
<div id="wrapper">
		<div class="top">
	<a href="index"><img src="https://cdn2.iconfinder.com/data/icons/neutro-medical/32/heartbeat-512.png" alt="banner" id="logo" width="150px" height="100"></a>
		<ul class="topnav">
		<li><a href="index">Home</a></li>
		<li><a href="survey">Survey</a></li>
		<li><a href="restaurant">Local Restaurants</a></li>
		<li><a href="about">About Us</a></li>
		</ul>
			</div>
		<div id="container">
		<div id="content">

			<img src="https://drive.google.com/uc?id=1vKfxQmoBTZai_YsHD59nUL6EohuRsVXV" alt="healthy people" width="1240px" height="600px">

			<div id="box3">
				<h3><center>Patricia Hatley</center></h3>
				<p><center>School: Linganore High School</center></p>
				<p><center>Grade: Junior</center></p>
				<p><center>Hobbies: 2D animation, enthusing about cats, writing books, and theatre </center></p>
			</div>

			<div id="box4">
			<h3><center>Avani Badugu</center></h3>
			<p><center>School: Marriotts Ridge High School</center></p>
			<p><center>Grade: Senior</center></p>
			<p><center>Hobbies: Playing tennis, Volunteering, Spending time with Family, and Coding</center></p>
		</div>
			<div id="box5">
			<h3><center>Grace Govan</center></h3>
			<p><center>School: James Madison High School</center></p>
			<p><center>Grade: Junior</center></p>
			<p><center>Hobbies: Baking, Playing tennis, Coding, and Reading</center></p>
			</div>
		

		</div>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />

	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
		<div id="footer">
			<br />
			<br />
			<h3><center>Kode With Klossy Camp 2018</center></h3>
			<h3><center>Baltimore, City Garage</center></h3>
			<h3><center>Patricia, Avani, and Grace</center></h3>
		</div>
	</div>
</body>
</html>
