<html>
	<head>
		<title> Health Options </title>
		<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>
	    <body>
	      <h1>Great work! You are a very healthy person! It sounds like you know how to keep a balanced diet. </h1>
		<div id="Healthy Food Options">
     		 <!--List of Food Options-->
    		  <h2>Healthy Food Options</h2>
		  <h3> Although it seems as though you know how to eat healthy, here is a reminder of some of the suggested foods that should be eaten on a daily basis.</h3>
		   <ol>
			    <li>fruits</li>
			    <li>vegetables</li>
			    <li>grains</li>
          <li>nuts</li>
			    <li>fish</li>
          <li>low fat dairy products</li>
        </ol>
	
      <div id="Exercise">
      <!--Exercise Options-->
        <h2>Exercise Options</h2>
        <h3>Exercise is just as important as eating healthy. We want to remind you that although you are meeting the healthy standards for exercise, you might want to consider increasing it even more to challenge yourself. Exercise is very important in order to prevent various diseases such as type 2 diabetes, cancer, and cardiovascular disease.</h3>
      </div>
    </body>
  </html>
