<html>
	<head>
		<title> Health Options </title>
		<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>
	    <body>
	      <h1>Keep up with the good work! Although you are living a healthy lifestyle, you might want to consider adding specific components to strengthen your health even more!</h1>
		<div id="Healthy Food Options">
     		 <!--List of Food Options-->
    		  <h2>Healthy Food Options</h2>
		  <h3>There are many healthy foods that can balance out your diet so you can maintain a healthy lifestyle. These are some suggested foods that should be eaten on a daily basis. </h3>
		   <ol>
				<li>fruits</li>
				<li>vegetables</li>
				<li>grains</li>
				<li>nuts</li>
				<li>fish</li>
				<li>low fat dairy products</li>
			<ol>
		<h3>Limit your intake of fast food per week.</h3>
      <div id="Exercise">
      <!--Exercise Options-->
      	<h2>Exercise Options</h2>
      	<h3>Exercise is just as important as eating healthy. We want to remind you that although you are meeting the healthy standards for exercise, you might want to consider increasing it even more to challenge yourself because you are a teenager and you probably have more energy.</h3>
      </div>
  </body>
</html>
