<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Healthy Hearts</title>
	<link href="health.css" rel="stylesheet" type="text/css">
	<link rel="icon" href="images/heartbeat-512.png" type="image/jpg" sizes="16x16">
</head>

<body>
<div id="wrapper">
		<div class="top">
	<a href="index.html"><img src="images/heartbeat-512.png" alt="banner" id="logo" width="150px" height="100"></a>
		<ul class="topnav">
		<li><a href="index.html">Home</a></li>
		<li><a href="survey.html">Survey</a></li>
		<li><a href="restaurant.html">Local Restaurants</a></li>
		<li><a href="about.html">About Us</a></li>
		</ul>
			</div>
		<div id="container">
		<div id="content">
			
			<img src="images/fitness.jpg" alt="fitness" width="1249px" height="300px">
			
			<div id="box1">
				
			<h1><center>Welcome to Healthy Hearts</center></h1>
				
				<p><center>Our mission is to help spread awareness in the importance of keeping yourself healthy with multiple certified resources, surveys, and more. At Healthy Hearts, we make sure our viewers know that we strive to provide scientifically supported resources will real time facts. If you have the time, we would absolutely love if you could take our survey to find out what lifestyle habits could benefit YOU specifically. If you don’t wish to complete our survey, no hard feelings! Just stop by our information tabs and read up on all that you can do to maintain a healthy lifestyle while still having fun.
</center></p>
			</div>
			</div>
		</div>
	<br />
		<div id="footer">
			<br />
			<h3><center>Kode With Klossy Camp 2018</center></h3>
			<h3><center>Baltimore, City Garage</center></h3>
			<h3><center>Patricia, Avani, and Grace</center></h3>
		</div>
	</div>
</body>
</html>