<html>
	<head>
		<title> Health Options </title>
		<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>
	    <body>
	      <h1>You are living your best life!</h1>
		<div id="Healthy Food Options">
     		 <!--List of Food Options-->
    		  <h2>Healthy Food Options</h2>
		  <h3>Although you are doing a very good job keeping a balanced diet, hese are some suggested foods that should be eaten on a daily basis.A key to maintaining your health as a man is eating the right foods. These are some suggested foods that should be eaten on a daily basis.</h3>

		   <ol>
			    <li>fruits</li>
			    <li>vegetables</li>
			    <li>grains</li>
          <li>nuts</li>
			    <li>fish</li>
			    <li>dairy products</li>
		   </ol>
		<h3>Limit your intake of fast food per week to only once per week. Whenever you do go out to eat, try to make sure to pick items off the menu that are the more healthier than others. Try to limit eating red meat because there is a lot of saturated fats in them. As a substitute, try eating more chicken or even beans to get enough protein.</h3>
		</div>

    <div id="Exercise">
    <!--Exercise Options-->
      <h2>Exercise Options</h2>
      <h3>Exercise is just as important as eating healthy. We suggest that you try to get in a small workout almost everyday, even if it’s just for 30 minutes, in order to maintain body performance and regularity. Since you seem to have already met these requirements, you might want to consider challenging yourself and try other forms of exercise such as biking, running, and more! Staying active throughout your life is the single most powerful way to remain healthy and live long.</h3>
    </div>
  </body>
</html>
