<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Healthy Hearts</title>
	<link href="css/styles.css" rel="stylesheet" type="text/css">
	<link rel="icon" href="images/heartbeat-512.png" type="image/jpg" sizes="16x16">
</head>

<body>
<div id="wrapper">
		<div class="top">
	<a href="index"><img src="images/heartbeat-512.png" alt="banner" id="logo" width="150px" height="100"></a>
		<ul class="topnav">
		<li><a href="index">Home</a></li>
		<li><a href="survey">Survey</a></li>
		<li><a href="restaurant">Local Restaurants</a></li>
		<li><a href="about">About Us</a></li>
		</ul>
			</div>
		<div id="container">
		<div id="content">

			<img src="images/best-healthy-restaurants-in-chicago-1.jpg" alt="food" width="1249px" height="500px">

			<div id="box1">

			<h1><center>Local Restaurants</center></h1>

				<p><center>Welcome to our food page. Here at Healthy Hearts, we take pride in making sure
					our viewers have access to the top healthy restaurants in the world with reliable sources and detailed ingredient lists. If you would rather take our survey to see what healthy tips could fit your lifestyle perfectly, please visit our survey page! If not then click the button below to get started in finding the restaurant perfect for you!
</center></p>
				<div>
  <a href="https://www.mrporter.com/journal/mr-porter-eats/the-healthiest-restaurants-in-the-world/1716"><input type="button" class="button" value="Find A Restaurant For Me" style="display: block; margin: 0 auto;"></a>
</div>
			</div>
			</div>
		</div>
	<br />
	<br />
		<div id="footer">
			<br />
			<br />
			<h3><center>Kode With Klossy Camp 2018</center></h3>
			<h3><center>Baltimore, City Garage</center></h3>
			<h3><center>Patricia, Avani, and Grace</center></h3>
		</div>
	</div>
</body>
</html>
