<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Healthy Hearts</title>
	<link href="css/styles.css" rel="stylesheet" type="text/css">
	<link rel="icon" href="https://cdn2.iconfinder.com/data/icons/neutro-medical/32/heartbeat-512.png" type="image/jpg" sizes="16x16">
</head>

<body>
<div id="wrapper">
		<div class="top">
	<a href="index"><img src="https://cdn2.iconfinder.com/data/icons/neutro-medical/32/heartbeat-512.png" alt="banner" id="logo" width="150px" height="100"></a>
		<ul class="topnav">
		<li><a href="index">Home</a></li>
		<li><a href="survey">Survey</a></li>
		<li><a href="restaurant">Local Restaurants</a></li>
		<li><a href="about">About Us</a></li>
		</ul>
			</div>
		<div id="container">
		<div id="content">

			<img src="https://healthyforgood.heart.org/-/media/aha/h4gm/article-images/how-to-eat-more-fruits-and-veg.jpg" alt="survey picture" width="1249px" height="500px">

			<div id="box1">

			<h1><center>Survey</center></h1>

				<p><center>Here at Healthy Hearts, we want to provide our viewers with the best reliable
					results to help them find the healthy lifestyle suited to their exact needs. In taking our survey, you will find the perfect conclusion to all of your health needs and find the best way to cater to your lifestyle. If you would rather skip the survey, check out our restaurants page and see what food types cater to your lifestyle! Remember, staying healthy is important. We at Hungry Hearts strive in making sure our viewers have the best possible resources to start a path down a healthier life.
</center></p>
<form action="/results" method="post">
<!-- <h2>What is your gender?</h2>
<input type="radio" value="male">Male<br>
<input type="radio" value="female">Female<br>
<h2>What is your age?</h2>
<input type="radio" value="teen">Teen<br>
<input type="radio" value="adult">Adult<br> -->
<h2>How much do you exercise ?</h2>
<input type="radio" value="1">Never<br>
<input type="radio" value="2">Sometimes<br>
<input type="radio" value="3">Almost Everyday<br>
<h2>What is your calorie intake per day?</h2>
<input type="radio" value="1">2500+<br>
<input type="radio" value="2">2000-2500<br>
<input type="radio" value="3">0-2000<br>
<h2>What does your daily food intake consist mainly of?</h2>
<input type="radio" value="1"> Majority Fast Food<br>
<input type="radio" value="2"> Some fast food, but balanced<br>
<input type= "radio" value="3"> No fast food, home cooked healthy meals<br>
<button type = "submit" class="new"> Find your results </button></form>
			</div>

			</div>
		</div>
	<br />
	<br />
		<div id="footer">
			<br />
			<br />
			<h3><center>Kode With Klossy Camp 2018</center></h3>
			<h3><center>Baltimore, City Garage</center></h3>
			<h3><center>Patricia, Avani, and Grace</center></h3>
		</div>
	</div>
</body>
</html>
